body {
  display: block;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

#event-page{
    background-color: white;
    padding-top: 6%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.form-div{
    margin: 0 auto;
    width: 80%;
    margin-top: 30px;
    padding: 20px 100px;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-shadow: 1px 1px 3px #dddddd;
}

.form-div > form > div{
    
    display: inline-block;
    margin-right: 30px;
}

.select-style {
    position: relative;
    top: 7px;
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    margin: 0 15px;
    z-index: 0;
    border: 1px solid #ccc;
    width: 200px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

.select-style select:focus {
    outline: none;
    width: inherit;
    border-radius: inherit;
}

.date > p {
    font-size: 16px;
    font-weight: bold;
    color: rgb(53, 53, 51);
    margin-bottom: 10px;
}

.events{
    margin-top: 5%;
    margin-left: 4%;
}

.events > p{
    color: #7c7a7a;
    font-size: 20px;
    word-spacing: 5px;
    margin-bottom: 2%;
    border-bottom: 1px solid #c8c6c6;
    padding-bottom: 20px;
    width: 95%;
}

.event-element {
    display: inline-block;
    margin-right: 40px;
    width: 340px;
    margin-bottom: 40px;
    border: 1px solid rgb(223, 223, 223);
    box-shadow: 0px 0px 5px #c2c0c0;
}

.event-img > img{
    display: block;
    background-size: 100% 100%;
    width: 100%;
    height: 280px;
    background-repeat: no-repeat;
    transition: .5s ease;
}

.event-img{
  border-bottom: 1.5px solid rgba(216, 215, 215, 0.534);
}

.event-info{
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top: -5px;
    padding: 5px 20px;
    color:rgba(85, 84, 84, 0.781);
    height: inherit;
    height: auto;
}

.event-info > p{
  font-size: 20px;
  line-height: 3;
}

.date-event, .event-cat{
  display: inline-block;
}

.date-event{
  position: relative;
  float: right;
  color: rgb(37, 37, 35);
  font-size: 13px;
  letter-spacing: 2px;
}

.date-event > img{
  position: relative;
  top:  3px;
}
.event-cat{
  position: relative;
  float: left;
  margin-top: -4% !important;
  text-shadow: none; 
  font-size: 15px !important; 
  line-height: 1.2;
  font-weight: initial; 
  color: rgba(26, 25, 25, 0.952);
}
.icon-event{
    width: 17px;
    height: 17px;
    position: relative;
    top: -2px;
    margin-right: 5px;
}

.search-btn{

  background: rgb(4, 51, 92);
  color: #fff;
  font-family: Sans-serif;
  font-size: 12px;
  height: 35px;
  width: 100px;
  line-height: 35px;
  text-align: center;
  border-radius: 5px;
  border: 0;
  transition: all 0.3s ease 0s;
}

.search-btn:hover {
  box-shadow: 1px 1px 5px rgb(16, 24, 141);
  opacity: 0.9;
}

@media (max-width: 1100px) {
  .slideshow-container{
    padding: 0px 0px;
    width: 100%;
  }
  
  .form-div{
    margin: 0 auto;
    padding: 20px 60px;
  }

  .form-div > form > div{
    width: 20%;
    margin-right: 60px;
    display: inline-block;
  }
  .search-btn{
    display: block;
    margin-top: 10px;
  }

  .allEvents{
    padding: 10px 20px !important;
  }
}

@media (max-width: 950px) {
  
  .slideshow-container, .dot{
    display: none;
    position: absolute;
  }
  
  .form-div{
    padding: 20px 20px;
  }

  .form-div > form > div{
    display: inline-block;
    margin: 0 auto;
    width: 300px;
    line-height: 2;
  }

  .search-btn{
    display: block;
    margin-top: 10px;
  }

  .event-element {
    width: 280px;
    height: inherit;
  }

  .events > p{
    font-size: 16px;
  }
  
}

@media (max-width: 750px) {

  .allEvents{
   margin: 0px 20px;
  }
  
  .slideshow-container, .dot{
    display: none;
    position: absolute;
  }
  
  .events > .event-element{
    margin: 20px 80px;
  }
  
  .form-div{
    margin-top: 10%;
    padding: 20px 20px;
  }

  .form-div > form > div{
    display: inline-block;
  }
  .search-btn{
    display: block;
    margin-top: 10px;
  }

  .event-element {
    margin-right: 20px;
    width: 360px;
  }

  .events > p{
    font-size: 16px;
    margin: 5px 20px;
    border-bottom: 0px;
    line-height: 2;
  }
  
}

@media (max-width: 700px) {
  
  .allEvents{
    width: auto;
  }
  
  .slideshow-container, .dot{
    display: none;
    position: absolute;
  }

  .form-div{
    margin-top: 10%;
    width: auto;
  }

  .form-div > form > div{
    display: block;
    padding: 5px 5px;
    margin-left: 0px !important;
    line-height: 2;
  }
  .select-style {
    margin: 0 5px;
    width: 140px !important;
  }
  .events{
    margin-left: 0px !important;
  }
  
  .events > .event-element{
    margin: 5px 5px !important;
    padding-left: 0px;
    width: auto;
    height: auto;
  } 
  
  .event-info > *{
    font-size: 13px !important;
  }
  .events > p{
    font-size: 13px;
    margin: 5px 20px;
    width: 90%;
    line-height: 2;
  }
}
