*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bar-menu img{
    width: 60px;
    height: 30px;
}
.bar-menu{
    background-color: #343a40!important;
    text-align: center;
    height: 90px;
}
.bar-menu ul{
    display: inline-flex;
    list-style: none;
}
.bar-menu ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.bar-menu ul li a{
    text-decoration: none;
    color: white;
}
.active, .bar-menu ul li:hover{
    background-color:red;
    border-radius: 3px;
}
.sub-menu-1{
    display: none;
}
.bar-menu ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: #343a40!important;
    margin-top: 15px;
    margin-left: 15px;
}
.bar-menu ul li:hover .sub-menu-1 ul{
    display: block;
    margin: 10px;
}
.bar-menu ul li:hover .sub-menu-1 ul li{
    width: 150px;
    height: 80px;
    padding: 5px;
    border-bottom: 1px dotted white;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.bar-menu ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.bar-menu ul li:hover .sub-menu-1 ul li a:hover{
    color: red;
    padding-left: 30px;
    -webkit-transition:padding 0.7s ease;
    -moz-transition:padding 0.7s ease;
    -o-transition:padding 0.7s ease;
    transition:padding 0.7s ease;

}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    /* -webkit-font-feature-settings: 'liga'; */
    -webkit-font-smoothing: antialiased;
}


