*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bar-menu img{
    position: relative;
    width: 60px;
    height: 30px;
}

.bar-menu{
    background-color: white!important;
    padding-left: 120px;
    font-size: 20px;
    height: 80px;
    padding-top: 10px;
    box-shadow: 2px 0px 8px black;
}
.bar-menu ul{
    display: inline-flex;
    list-style: none;
}
.bar-menu ul li{
    margin: 15px 15px 0px 25px;
    position: relative;
    transition: 0.3s ease-in-out;
}
.bar-menu ul li a{
    text-decoration: none;
    color: rgb(8, 94, 145)
}

.bar-menu ul li .first-a-level:hover{
    text-decoration: none;
    color: rgb(17, 74, 112);
}

.first-a-level::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(5, 57, 117);
    transition: width .3s;
    margin-bottom: 2px;
    padding-bottom: 1px;
    border-bottom-left-radius: 1.5px;
    border-bottom-right-radius: 1.5px;
}

.first-a-level:hover::after {
    width: 30%;
}

.active, .bar-menu ul li a:hover{
    border-radius: 3px;
    padding-top: 5px;
}

.sub-menu-1{
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0px 8px 16px 10px rgba(0,0,0,0.2);
    z-index: 1;
}
.bar-menu ul li:hover .sub-menu-1{
    display: block;
    position: absolute;
    background-color: #343a40!important;
    margin-top: 10px;
    margin-left: 10px;
}
.bar-menu ul li:hover .sub-menu-1 ul{
    display: block;
    width: 300px;
}
.bar-menu ul li:hover .sub-menu-1 ul li{
    padding-bottom: 5px;
    border-bottom: 1px solid white;
    background: transparent;
    position: relative;
    border-radius: 0;
    text-align: left;
}
.bar-menu ul li:hover .sub-menu-1 ul li:last-child{
    border-bottom: none;
}
.bar-menu ul li:hover .sub-menu-1 ul li a {
    -webkit-transition:all 0.7s ease;
    -moz-transition:all 0.7s ease;
    -o-transition:all 0.7s ease;
    transition:all 0.7s ease;
}
.bar-menu ul li:hover .sub-menu-1 ul li a:hover{
    color: #ffa34d;
    font-weight: bold;
    letter-spacing: 2px;
    padding-left: 10px;
}

/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v50/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
  }
  
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
}


