
/*.container{*/
/*    margin: 0px 100px 30px 100px;*/
/*}*/
#training{
    background-color: white;
    padding-top: 8%;
    padding-bottom: 5%  ;

}
#where{
    font-weight: bold;
    line-height: 1.6;
    color: #575555;
}
#city{
    color: #575555;
    font-size: 10px;
    line-height: 2;
}

.search-city{
    margin: 20px 0px 20px 0px;
}
.input-city .map-icon {
    position: absolute; 
}

.map-icon{
    position: relative;
    right: 30px;
}

.input-city{
    border: 1px solid #ccc;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    width: 40%;
    height: 35px;
    padding: 10px;
    color: #575555;
    margin-bottom: 20px;
    border-radius: 5px;
}


.input-city:focus{
    outline: none;
    box-shadow: 0px 0px 2px #0066ff;
}

.search-btn{

    background: rgb(4, 51, 92);
    color: #fff;
    font-family: Sans-serif;
    font-size: 12px;
    height: 35px;
    width: 100px;
    line-height: 35px;
    text-align: center;
    border-radius: 5px;
    border: 0;
    transition: all 0.3s ease 0s;
}

.search-btn:hover {
    box-shadow: 1px 1px 5px rgb(16, 24, 141);
    opacity: 0.9;
}

.inline{
    display: inline-block;
}

.select-style {
    font-size: 16px;
    font-weight: bold;
    padding: 0;
    border: 1px solid #ccc;
    width: 140px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
}

.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.select-style:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
}

.select-style select:focus {
    outline: none;
    width: inherit;
    border-radius: inherit;
}

.inline > div{
    display: inline-block;
    position: relative;
    margin-left: 2%;
    margin-right: -3%;

}

.trainings{
    width: 50%;
    margin-top: 2%;
}

.trainings > p{
    color: #575555;
    font-size: 14px;
    word-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.training-notif{
    margin-bottom: 5%;
    border: 1px solid #ccc;
    padding: 20px;
    line-height: 1.5;
    border-radius: 7px;
    transition: all .3s ease-in;
}

.training-notif:hover{
    box-shadow: 1px 1px 4px #575555;
}

.training-title{
    color: #000000;
    line-height: 2;
    font-size: 22px;
}

.training-city{
    font-size: 18px;
    color: rgb(39, 33, 33);
    font-weight: normal;
}

.training-desc{
    font-size: 15px;
    color: rgb(158, 157, 157);
    text-align: justify;
}

.training-date{
    color: #0755ca;
    font-size: 14px;
}

.salary{
    font-size: 15px;
    line-height: 2;
    color: #686b68;
    font-weight: 100;
}

.training-date > span {
    float: right; 
    font-size: 15px; 
    color: rgb(136, 132, 132);
}

.training-date > span > img{
    position: relative; 
    top:4px;
    width:20px; 
    height: 20px;
}

.recieve-emails{
    top: 0;
    width: 40%;
    min-width: 40%;
    float: right;
    right: 8%;
    margin-top: 6%;
    border: 1px solid #ccc;
    padding: 20px;
    line-height: 1.5;
    border-radius: 7px;
}

.recieve-emails > p {
    border-bottom: #575555;
    padding-bottom: 10px;
}

.create-email-dialog{
    border-top: 1px solid #ccc ;
    padding-top: 10px;
}

.create-email-dialog > p{
    color: #555555;
    margin-top: 2%;
    margin-bottom: 2%;
}

.email-dialog{
    width: 60%;
}

.validate-btn{
    background-color: transparent;
    color: #0755ca;
    border: 2px solid #0755ca;
    letter-spacing: 1.5px;
    font-weight: bold;
    transition: all 0.4s linear ;
}

.validate-btn:hover {
    background-color: #0755ca;
    color: white;
}

.email-dialog-alert {
    margin-top: 2%;
    font-size: 13px;
    color: #4d4d4e;
    text-align: justify;
}

.separate-line{
    background-color: #ccc; 
    color: #ccc; 
    margin-top: 10px;
    width: 92%;
}
@media (max-width: 1000px){
    #training{
        padding-top: 15%;
    }
}

@media (max-width: 1100px) {

    /*.container{*/
    /*    margin: 0px 20px 30px 50px;*/
    /*}*/
    
    .trainings > p{
        font-size: 12px;
        line-height: 2;
    }
    
    .training-title{
        line-height: 1.5;
        font-size: 15px;
    }
    
    .training-city{
        font-size: 13px;
    }
    
    .training-desc{
        font-size: 13px;
        text-align: justify;
    }
    
    .training-date{
        font-size: 12px;
    }
    
    .recieve-emails{
        margin-top: 8%;
    }
    
    .recieve-emails > p {
        font-size: 14px;
        padding-bottom: 10px;
    }

        
    .create-email-dialog{
        padding-top: 10px;
    }

    .create-email-dialog > p{
        font-size: 14px;
    }

    .email-dialog{
        width: 100%;
    }
    
    .validate-btn{
        margin-bottom: 10px;    
    }

    .email-dialog-alert {
        font-size: 12px;
        text-align: justify;
    }
    .input-city{
        font-size: 13px;
        width: 75%;
    }
}

@media (max-width: 700px) {

    .inline > div{
        margin-top: 5%;
        width: 95%;
    }

    .trainings{
        display: block;
        /* position: absolute; */
        width: 100%;
    }

    .recieve-emails{
        display: block;
        float: left;
        left: 0%;
        /* background-color: red; */
        width: 100%;
        /* margin-left: 30px !important; */
    }
    
    .trainings > p{
        font-size: 12px;
        line-height: 2;
    }
    
    .training-title{
        line-height: 1.5;
        font-size: 14px;
    }
    
    .training-city{
        font-size: 12px;
    }
    
    .training-desc{
        font-size: 12px;
        text-align: justify;
    }
    
    .training-date{
        font-size: 12px;
    }
    
    .recieve-emails{
        /* display: block; */
        /* margin-top: 8%;         */
    }
    
    .recieve-emails > p {
        font-size: 12px;
        padding-bottom: 10px;
    }
        
    .create-email-dialog{
        padding-top: 10px;
    }

    .create-email-dialog > p{
        font-size: 12px;
    }

    .email-dialog{
        width: 100%;
    }
    
    .validate-btn{
        /* margin-bottom: 10px;    */
        font-size: 12px;
        /* padding: 0px 16px !important; */
    }

    .email-dialog-alert {
        font-size: 12px;
        text-align: justify;
    }
    .input-city{
        display: block;
        font-size: 12px;
        width: 90%;
    }    

    .map-icon{
        position: absolute;
        display: none;
    }
}
